{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": {
          "version": "3"
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ]
}
