

@font-face {
    font-family: 'SassyFrass';
    src : url("fonts/SassyFrass-Regular.ttf") format('truetype');
    font-display: fallback;
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #BDBDBD;
    font-family: "SassyFrass";
}

body p {
    font-family: "SassyFrass";
}